.body {
    display: flex;
    flex-direction: column;
    background-color: #1f1841;
    width: 100%;
    align-items: center;
    color: white;
    justify-content: center;
}

.iconos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.contenedorIconos {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    max-width: 425px;
    margin: 2%;
}