.cards {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  min-height: 40vh;
  background-color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.titulo {
  font-size: 2rem;
  color: white;
}
.box {
  background-color: white;
  border-radius: 7px;
  width: 90%;
  text-align: center;
  /* padding-bottom: 1.2rem; */
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleCard{
    margin: 1.5rem 0;
}
.paraCard{
    margin: 5px 0;
}

@media (min-width: 700px) {
  .box {
    width: 40%;
  }

  .cards {
    /* height: 700px; */
  }
}
